.searchs {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  .am-navbar-left {
    flex: 0;
  }
  .am-navbar-title {
    justify-content: flex-start;
    flex: 1;
    padding: 0;
  }
  .am-navbar-right {
    flex: 0;
  }
  .am-button{
      font-size: 12px;
      display: inline;
      padding: 10px;
  }
  option{
      width: 30px;
      font-size: 12px;
  }
}
